body 
{
	padding: 0;
	background: url(../img/intro-bg.jpg) center center/cover repeat-y;
	position: relative;
	z-index: 1;
	height: 100%;
	width: 100%;
	min-height: 125vh;

}

.intro {
	background-image: none;
	background-color: transparent;
}

/*body::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	background: rgba(255, 255, 255, 0.3);
	z-index: -1;
}*/

.navTitle {
	padding-left: 10px;
}

.navCustomPos {
	padding-right: 120px;
}

.headingFont {
	font-family: 'Raleway', sans-serif;
;
}

.topBottomBar {
	height: 120px;
	margin-left: -15px;
	margin-right: 0px;
	background: #3d6794;
}

.tagline {
	/*margin-left: -800px;*/
	text-align: left;
	margin-top: -35px;
	font-weight: none; 
	font-size: 20px; 
}

.subtag {
	/*margin-left: -1140px;*/
	font-size: 20px;
	text-align: left;
}

#coloradoMemes12 {
	float: left;
	height: 385px;
	padding: 15px 20px 20px 10px;
	}

footer {
	height: 25px;
	background: grey;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 4;
	margin: 0 -15px;
	padding: 0;
}

.img-circle

{
	border: 10px;
	border-style: solid;
	border-color: white;
}

.headingColor {
	overflow:hidden;
	color: black;
	display: inline-block;
	background-color: white;
	width: 260px;
	height:140px;
	opacity: .8;
	padding:8px;
	border-radius: 25px;
	font-weight: bold;
	}

#headingSub {
	
	font-size: 15px;
	padding-top: 7px;
	font-style: italic;
}

.mainHeader{
	font-size: 60px;
	position: relative;
	float: left;
	margin-top: -17px;
	font-family: 'Allerta Stencil', sans-serif;
	letter-spacing: 5px;	
	/*margin-left: -124px;*/
	text-align: left;
}

.navbar-nav {
	margin-right: -110px;
}

.bubbles
{
	padding-top: 15px;
	margin: auto;
}

.aboutPage {
	display: block center;
	opacity: .9;
	background-color: white;
	color: black;
	width: 80%;
	height: auto; 
	border-radius: 10px;
	margin: auto;
	padding: 31px;
	clear: both;
	overflow:hidden;
}

.aboutText {
	padding-top: 5px;
	font-size: 45px;
	text-shadow: 1px 1px black
}

.textInAbout {
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
	text-align: left;

}

/*.row {
	clear:both;
}*/
	.snippet {
			font-size: 10px;
		}
		.headLine {
			font-size:12px;
			font-weight: bold;
		}
		#boxBetter {
			border:1px solid black;
			margin:5px;
			background-color: lightgray;
			opacity:0.9;
		}
	#commentInput {
		width: 350px;
	}

	.hideForNow {
		visibility:hidden;
	}
	#newsHolder {
		overflow: hidden;
		margin-bottom:25px;
		border: 5px 0 5px 0;
		border-color: black;
		background-color: white;
		opacity:0.9;
		border-radius: 10px;
		width:80% !important;
		margin-right: 10%;
		margin-left: 10%;
		padding:15px;
		margin-top: 5%;
	}
	#newsHolder a:link{
		color:black;

	}
	#newsHolder a:visited{
		color:black;

	}
	#newsHolder a:hover{
		color:white;

	}
	#newsHolder a:visited{
		color:black;

	}
	#leftButt {
		margin-top: 127px;
	}
	
	#rightButt {
		margin-top: 127px;
	}

.contact-forum {
 padding-left: 10px;
 text-align: left;
}


.articleBox {
	background-color: white;
	color: black;
	border-radius: 10px;
	padding-left: 10px;
	text-align: left;
	
}
.articleBox p {
	margin-left: 10px;
	margin-right: 10px;
}

#commentBox {
	display: block center;
	opacity: .9;
	background-color: white;
	color: black;
	width: 50%;
	overflow: hidden;
	border-radius: 10px;
	padding-left: 10px;
	text-align: left;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 5%;
}
.clear {
	clear:both;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#commentSubmission {
	margin-bottom: 15px;
}
.someSpace {
	padding:10px;
	font-size: 15px;
	font-weight: bold;
}
#commentBox h1 {
	margin-top: 15px;
	overflow: hidden;
}
#overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.25;
  filter: alpha(opacity=50);
}
#modal {
  position:absolute;
  left:39%;
  top:19%;
  background:rgba(0,0,0,0.2);
  border-radius:14px;
  padding:8px;
}
#modalMain {
  position:absolute;
  left:35%;
  top:111%;
  /*margin: 0 auto;*/
  background:rgba(0,0,0,0.2);
  border-radius:14px;
  padding:8px;
}


#content {
  border-radius:8px;
  color: black;
  background:#fff;
  padding:20px;
  overflow: hidden;
}
#close {
  position:absolute;
  display:block;
  text-indent:-9999px;
  top:-7px;
  right:-7px;
}
.displayBlock {
	display: block;
}
.displayNone {
	display: none;
}
#commentHeader {
	font-size: 36px;
	font-weight: 700;
}
#message {
	max-width: 1126px;
}
#slightlyOff {
	margin-right: 16px;
}

#map {
	margin:0 !important;
}
@media screen and (max-width: 1813px) {
	#message {
	max-width: 800px;
}
}
@media screen and (max-width: 1338px) {
	#message {
	max-width: 600px;
}
}
@media screen and (max-width: 1032px) {
	#message {
	max-width: 400px;
}
}
@media screen and (max-width: 767px) {
.topBottomBar {
	display: none;
	}
}
@media screen and (max-width: 767px) {
	#commentInput {
		width: 200px;
	}
}
@media screen and (max-width: 460px) {
	#commentInput {
		width: 100px;
	}
	#nameInput {
		width: 100px;
	}
	#commentHeader {
	font-size: 16px;
	font-weight: 700;
}

#mapBox {
	height: 500px;
	width: 500px;
}

.articleImage {
}