body 
{
	padding: 0;
	background: url(../img/intro-bg.jpg) center center/cover no-repeat;
	position: relative;
	z-index: 1;
	height: 100%;
	width: 100%;
	min-height: 100vh;
}

.intro {
	background-image: none;
	background-color: transparent;
}

body::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	background: rgba(255, 255, 255, 0.05);
	z-index: -1;
}

.headingFont {
	text-shadow: 1px 1px black
;
}

.topBottomBar {
	height: 100px;
	margin-left: -15px;
	margin-right: 0px;
	background: #3d6794;
}

footer {
	height: 25px;
	background: grey;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 4;
	margin: 0 -15px;
	padding: 0;
}

.img-circle

{
	border: 10px;
	border-style: solid;
	border-color: white;
}

.headingColor {
	color: #3fa2ec;
	}

.navTitle

{
	size: 40px;
}